<div class="document-viewer-dialog">
  <div class="dialog-header">
    <h2>{{ document.title }}</h2>
    <button mat-icon-button (click)="close()" class="close-btn">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="dialog-content">
    <style [innerHTML]="documentPreviewCss"></style>
    <div class="document-html" [innerHTML]="sanitizedHtml"></div>
  </div>

  <div class="dialog-actions">
    <button mat-raised-button (click)="print()" class="btn-print">
      <mat-icon>print</mat-icon>
      Imprimer
    </button>
    <button mat-raised-button (click)="close()" class="btn-close">
      Fermer
    </button>
  </div>
</div>
