/* permettre au root d'occuper tout le viewport et autoriser le scroll */
html,
body,
app-root {
  height: 100%;
  margin: 0;
  overflow: auto;
}

.mat-mdc-dialog-container {
  --mdc-dialog-container-color: white;
  --mdc-dialog-supporting-text-color: var(--text-primary);
}

.mat-mdc-snack-bar-container {
  --mdc-snackbar-container-color: var(--xl-green-mid);
  --mdc-snackbar-supporting-text-color: white;
}

.mat-mdc-snack-bar-container.success-snackbar {
  --mdc-snackbar-container-color: #10b981; /* green */
  --mdc-snackbar-supporting-text-color: #ffffff;
}

.mat-mdc-snack-bar-container.error-snackbar {
  --mdc-snackbar-container-color: #dc2626; /* red */
  --mdc-snackbar-supporting-text-color: #ffffff;
}

.mat-mdc-snack-bar-container.info-snackbar {
  --mdc-snackbar-container-color: #3b82f6; /* blue */
  --mdc-snackbar-supporting-text-color: #ffffff;
}

.mat-mdc-snack-bar-container.warning-snackbar {
  --mdc-snackbar-container-color: #f59e0b; /* amber */
  --mdc-snackbar-supporting-text-color: #ffffff;
}

.mat-mdc-snack-bar-container .mdc-snackbar__label {
  color: var(--mdc-snackbar-supporting-text-color);
}

.mat-custom-snackbar .mdc-snackbar__surface {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
}

:host {
  display: block;
  min-height: 100vh;
}
